<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocs.busi.mapper.CompanyReceivablesMapper">

    <resultMap id="BaseResultMap" type="com.ocs.busi.domain.entity.CompanyReceivables">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="period" column="period" jdbcType="VARCHAR"/>
            <result property="sourceType" column="source_type" jdbcType="VARCHAR"/>
            <result property="invoicingDate" column="invoicing_date" jdbcType="DATE"/>
            <result property="clientOrgName" column="client_org_name" jdbcType="VARCHAR"/>
            <result property="applyCheckDate" column="apply_check_date" jdbcType="DATE"/>
            <result property="receivableAmount" column="receivable_amount" jdbcType="DOUBLE"/>
            <result property="confirmAmount" column="confirm_amount" jdbcType="DOUBLE"/>
            <result property="unConfirmAmount" column="un_confirm_amount" jdbcType="DOUBLE"/>
            <result property="reconciliationFlag" column="reconciliation_flag" jdbcType="VARCHAR"/>
            <result property="reconciliationModel" column="reconciliation_model" jdbcType="VARCHAR"/>
            <result property="associationId" column="association_id" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>
