<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocs.busi.mapper.EmployeeSalaryMapper">

    <resultMap id="BaseResultMap" type="com.ocs.busi.domain.entity.EmployeeSalary">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="salaryPeriod" column="salary_period" jdbcType="VARCHAR"/>
            <result property="employeeCode" column="employee_code" jdbcType="VARCHAR"/>
            <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
            <result property="postSalary" column="post_salary" jdbcType="DOUBLE"/>
            <result property="rankSalary" column="rank_salary" jdbcType="DOUBLE"/>
            <result property="performanceSalary" column="performance_salary" jdbcType="DOUBLE"/>
            <result property="housingSalary" column="housing_salary" jdbcType="DOUBLE"/>
            <result property="bonusSalary" column="bonus_salary" jdbcType="DOUBLE"/>
            <result property="extraIncreaseSalary1" column="extra_increase_salary1" jdbcType="DOUBLE"/>
            <result property="extraIncreaseSalary2" column="extra_increase_salary2" jdbcType="DOUBLE"/>
            <result property="extraIncreaseSalary3" column="extra_increase_salary3" jdbcType="DOUBLE"/>
            <result property="extraIncreaseSalary4" column="extra_increase_salary4" jdbcType="DOUBLE"/>
            <result property="extraIncreaseSalary5" column="extra_increase_salary5" jdbcType="DOUBLE"/>
            <result property="paymentRatio" column="payment_ratio" jdbcType="VARCHAR"/>
            <result property="unPaymentSalary" column="un_payment_salary" jdbcType="DOUBLE"/>
            <result property="salaryPayable" column="salary_payable" jdbcType="DOUBLE"/>
            <result property="endowmentInsurance" column="endowment_insurance" jdbcType="DOUBLE"/>
            <result property="medicalInsurance" column="medical_insurance" jdbcType="DOUBLE"/>
            <result property="unemploymentInsurance" column="unemployment_insurance" jdbcType="DOUBLE"/>
            <result property="housingAccumulationFunds" column="housing_accumulation_funds" jdbcType="DOUBLE"/>
            <result property="occupationalAnnuity" column="occupational_annuity" jdbcType="DOUBLE"/>
            <result property="occupationalAnnuityDifferent" column="occupational_annuity_different" jdbcType="DOUBLE"/>
            <result property="unionFees" column="union_fees" jdbcType="DOUBLE"/>
            <result property="individualIncomeTax" column="individual_income_tax" jdbcType="DOUBLE"/>
            <result property="extraDecreaseSalary1" column="extra_decrease_salary1" jdbcType="DOUBLE"/>
            <result property="extraDecreaseSalary2" column="extra_decrease_salary2" jdbcType="DOUBLE"/>
            <result property="extraDecreaseSalary3" column="extra_decrease_salary3" jdbcType="DOUBLE"/>
            <result property="extraDecreaseSalary4" column="extra_decrease_salary4" jdbcType="DOUBLE"/>
            <result property="extraDecreaseSalary5" column="extra_decrease_salary5" jdbcType="DOUBLE"/>
            <result property="decreaseTotalSalary" column="decrease_total_salary" jdbcType="DOUBLE"/>
            <result property="actualAmount" column="actual_amount" jdbcType="DOUBLE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>
